<div class="mx-auto mt-12 max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <h2 class="text-3xl font-dela tracking-tight text-black sm:text-4xl">Our mission</h2>
      <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
        <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
          <p class="text-xl leading-8 text-black">Aliquet nec orci mattis amet quisque ullamcorper neque, nibh sem. At arcu, sit dui mi, nibh dui, diam eget aliquam. Quisque id at vitae feugiat egestas ac. Diam nulla orci at in viverra scelerisque eget. Eleifend egestas fringilla sapien.</p>
          <div class="mt-10 max-w-xl text-base leading-7 text-black">
            <p>Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id.</p>
            <p class="mt-10">Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.</p>
          </div>
        </div>
        <div class="lg:flex lg:flex-auto lg:justify-center">
          <dl class="w-64 space-y-8 xl:w-80">
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-black">Dummy Data</dt>
              <dd class="text-5xl font-semibold tracking-tight text-black">Dummy data</dd>
            </div>
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-black">Dummy Data</dt>
              <dd class="text-5xl font-semibold tracking-tight text-black">Dummy data</dd>
            </div>
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-black">Dummy Data</dt>
              <dd class="text-5xl font-semibold tracking-tight text-black">Dummy data</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <!-- Image section -->
  <div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-7xl xl:px-8">
    <img src="https://static.wixstatic.com/media/79b45e_bd049aae96654afba8266d3cbc6fa4d0~mv2.jpg" alt="" class="aspect-[5/2] w-full object-cover neobrut-border">
  </div>