<div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center group">
        <h2 class="relative text-3xl font-dela tracking-tight text-black sm:text-4xl">Events
          <span class="absolute text-2xl -z-10 opacity-0 left-1/2 transition-all duration-300 group-hover:translate-x-20 group-hover:opacity-100 group-hover:-translate-y-6 group-hover:scale-125 group-hover:rotate-12">🎉</span>
          <span class="absolute text-2xl -z-10 opacity-0 right-1/2 transition-all duration-300 delay-100 group-hover:-translate-x-24 group-hover:opacity-100 group-hover:translate-y-4 group-hover:scale-125 group-hover:-rotate-[30deg]">🤪</span>
        </h2>
        <p class="mt-2 text-lg leading-8 text-black">Spark runs events all dayyyy</p>
      </div>
      <div id="eventContainer" class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-4"></div>
    </div>
  </div>
  