<div class="isolate overflow-hidden">
    <div class="relative mt-32  sm:mt-40">
        <svg class="absolute inset-x-0 top-0 -z-10 h-[64rem] w-full stroke-black opacity-50 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]" aria-hidden="true">
            <defs>
              <pattern id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                <path d="M.5 200V.5H200" fill="none" />
              </pattern>
            </defs>
            <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
              <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
            </svg>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)" />
          </svg>
        <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
                <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
                    <h2 class="text-3xl font-dela tracking-tight text-black sm:text-4xl">About us</h2>
                    <p class="mt-6 text-xl leading-8 text-black">Quasi est quaerat. Sit molestiae et. Provident ad dolorem occaecati eos iste. Soluta rerum quidem minus ut molestiae velit error quod. Excepturi quidem expedita molestias quas.</p>
                    <p class="mt-6 text-base leading-7 text-black">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat. Quasi aperiam sit non sit neque reprehenderit.</p>
                    <div class="mt-6">
                        <a href="#" class="rounded-xl neobrut-border bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" x-text="switcher.learn_more[switcher.languages[switcher.selected].lang]"></a>
                    </div>
                </div>
                <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
                <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
                    <img src="https://static.wixstatic.com/media/79b45e_bd049aae96654afba8266d3cbc6fa4d0~mv2.jpg" alt="" class="aspect-[7/5] w-[37rem] max-w-none neobrut-border bg-black object-cover">
                </div>
                <div class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8">
                    <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
                    <img src="https://static.wixstatic.com/media/79b45e_bd049aae96654afba8266d3cbc6fa4d0~mv2.jpg" alt="" class="aspect-[4/3] w-[24rem] max-w-none flex-none neobrut-border bg-black object-cover">
                    </div>
                    <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
                    <img src="https://static.wixstatic.com/media/79b45e_bd049aae96654afba8266d3cbc6fa4d0~mv2.jpg" alt="" class="aspect-[7/5] w-[37rem] max-w-none flex-none neobrut-border bg-black object-cover">
                    </div>
                    <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
                    <img src="https://static.wixstatic.com/media/79b45e_bd049aae96654afba8266d3cbc6fa4d0~mv2.jpg" alt="" class="aspect-[4/3] w-[24rem] max-w-none neobrut-border bg-black object-cover">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>