<div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl font-dela tracking-tight text-black sm:text-4xl">Events</h2>
        <p class="mt-2 text-lg leading-8 text-black">Spark runs events all dayyyy</p>
      </div>
      <div id="eventContainer" class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-4"></div>
      <div class="flex justify-center items-center py-10">
          <a href="events.html" class="rounded-xl neobrut-border bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Discover all our events</a>
      </div>
    </div>
  </div>
  