<footer class="">
    <div class="px-6 py-20 mx-auto mt-16 overflow-hidden max-w-7xl sm:py-24 lg:px-8">
      <nav class="-mb-6 columns-1 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
        <div class="flex justify-center pb-6">
          <a href="index.html" class="text-sm font-semibold leading-6 text-white">Home</a>
        </div>
        <div class="flex justify-center pb-6">
          <a href="events.html" class="text-sm font-semibold leading-6 text-white">Events</a>
        </div>
        <div class="flex justify-center pb-6">
          <a href="create.html" class="text-sm font-semibold leading-6 text-white">Create</a>
        </div>
      </nav>
      <div class="flex justify-center mt-10 space-x-10">
        <a href="#" class="text-white transition-transform duration-300 hover:rotate-6">
          <span class="sr-only">Facebook</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
         </svg>
        </a>
        <a href="#" class="text-white transition-transform duration-300 hover:rotate-6">
          <span class="sr-only">Instagram</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
            <path d="M16.5 7.5l0 .01"></path>
         </svg>
        </a>
        <a href="#" class="text-white transition-transform duration-300 hover:rotate-6">
          <span class="sr-only">Instagram</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-tiktok" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"></path>
         </svg>
        </a>
      </div>
      <p class="mt-10 text-sm leading-5 text-center text-white">&copy; 2023 Spark Youth Center, All rights reserved.</p>
      <p class="mt-10 text-sm leading-5 text-center text-white">⌨️ built by <a class="font-bold" target="_blank" href="https://github.com/teobourloglou">@teobourloglou</a></p>
    </div>
  </footer>  