<footer class="">
    <div class="px-6 py-20 mx-auto mt-16 overflow-hidden max-w-7xl sm:py-24 lg:px-8">
      <div class="flex flex-col items-center gap-10 pb-20">
        <img class="w-24 h-auto transition-transform !duration-500 sm:w-48 hover:scale-110" src="photos/spark-logo-white.png" alt="">
        <div class="flex gap-2">
          <p class="text-white" x-text="switcher.statement_footer[switcher.languages[switcher.selected].lang]"></p>
          <div class="relative mx-auto text-center group"><p class="text-white group-hover:rotate-[20deg] origin-top-left transition-all !duration-[700ms]" x-text="switcher.statement_footer_dream[switcher.languages[switcher.selected].lang]"></p><span class="absolute text-xl top-0 transition-all !duration-[700ms] opacity-0 right-[10%] group-hover:opacity-100 group-hover:-translate-y-3  group-hover:scale-125 group-hover:rotate-12">💭</span></div>
          <div class="relative mx-auto text-center group"><p class="text-white group-hover:-rotate-[20deg] origin-top-right transition-all !duration-[700ms]" x-text="switcher.statement_footer_explore[switcher.languages[switcher.selected].lang]"></p><span class="absolute text-xl top-0 transition-all !duration-[700ms] opacity-0 left-[10%] group-hover:opacity-100 group-hover:-translate-y-3 group-hover:scale-125 group-hover:-rotate-12">🧭</span></div>
          <div class="relative mx-auto text-center group"><p class="text-white group-hover:-translate-y-1 transition-all !duration-[700ms]" x-text="switcher.statement_footer_grow[switcher.languages[switcher.selected].lang]"></p><span class="absolute text-xl top-0 transition-all !duration-[700ms] opacity-0 left-[40%] group-hover:opacity-100 group-hover:-translate-y-7  group-hover:scale-125 group-hover:rotate-12">🌱</span></div>
        </div>
      </div>
      <nav class="-mb-6 columns-1 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
        <div class="flex justify-center pb-6">
          <a href="index.html" class="text-sm font-semibold leading-6 text-white" x-text="switcher.home[switcher.languages[switcher.selected].lang]"></a>
        </div>
        <div class="flex justify-center pb-6">
          <a href="events.html" class="text-sm font-semibold leading-6 text-white">Events</a>
        </div>
        <div class="flex justify-center pb-6">
          <a href="create.html" class="text-sm font-semibold leading-6 text-white" x-text="switcher.create[switcher.languages[switcher.selected].lang]"></a>
        </div>
      </nav>
      <div class="flex justify-center mt-10 space-x-10">
        <a href="https://www.facebook.com/profile.php?id=100091558201864" target="_blank" class="text-white transition-transform !duration-500 hover:rotate-6">
          <span class="sr-only">Facebook</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
         </svg>
        </a>
        <a href="https://www.instagram.com/sparkyouthcenter/" target="_blank" class="text-white transition-transform !duration-500 hover:rotate-6">
          <span class="sr-only">Instagram</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
            <path d="M16.5 7.5l0 .01"></path>
         </svg>
        </a>
      </div>
      <p class="mt-10 text-sm leading-5 text-center text-white">&copy; 2024 Spark Youth Center, All rights reserved.</p>
      <p class="mt-10 text-sm leading-5 text-center text-white">⌨️ built by <a class="font-bold" target="_blank" href="https://github.com/teobourloglou">@teobourloglou</a></p>
    </div>
  </footer>  