<main>
  <div class="relative isolate">
    <div class="overflow-hidden">
      <div class="px-6 pb-32 mx-auto max-w-7xl pt-36 sm:pt-60 lg:px-8 lg:pt-32">
        <div class="max-w-2xl mx-auto gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
          <div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
            <h1 class="text-4xl font-bold leading-10 text-white font-dela sm:text-6xl" x-text="switcher.title[switcher.languages[switcher.selected].lang]"></h1>
            <p class="relative mt-6 text-lg font-semibold leading-8 text-white sm:max-w-md lg:max-w-none" x-text="switcher.description[switcher.languages[switcher.selected].lang]"></p>
            <div class="flex items-center mt-10 gap-x-6">
              <a href="events.html" class="rounded-xl transition-colors !duration-500 bg-flame px-3.5 py-2.5 text-sm font-semibold text-black hover:bg-flame-hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-flame-hover" x-text="switcher.upcoming_events[switcher.languages[switcher.selected].lang]"></a>
              <a href="about.html" class="text-sm font-semibold leading-6 text-white"><span x-text="switcher.get_involved[switcher.languages[switcher.selected].lang]" class="mr-1"></span><span aria-hidden="true">→</span></a>
            </div>
          </div>
          <div class="flex justify-end gap-8 mt-14 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">
            <div class="flex-none pt-32 ml-auto space-y-8 w-44 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
              <div class="relative transition-transform !duration-500 hover:rotate-2">
                <img src="photos/hero_1.jpg" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                <div class="absolute inset-0 pointer-events-none"></div>
              </div>
            </div>
            <div class="flex-none mr-auto space-y-8 w-44 sm:mr-0 sm:pt-52 lg:pt-36">
              <div class="relative transition-transform !duration-500 hover:rotate-2">
                <img src="photos/hero_2.jpg" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                <div class="absolute inset-0 pointer-events-none"></div>
              </div>
              <div class="relative transition-transform !duration-500 hover:-rotate-2">
                <img src="photos/hero_3.jpg" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                <div class="absolute inset-0 pointer-events-none"></div>
              </div>
            </div>
            <div class="flex-none pt-32 space-y-8 w-44 sm:pt-0">
              <div class="relative transition-transform !duration-500 hover:-rotate-2">
                <img src="photos/hero_4.jpg" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                <div class="absolute inset-0 pointer-events-none"></div>
              </div>
              <div class="relative transition-transform !duration-500 hover:rotate-2">
                <img src="photos/hero_5.jpg" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                <div class="absolute inset-0 pointer-events-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider">
    <div class="slide-track">
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">📹 Content Creator Studio</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">🛣️ Life Coaching</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">🎤 Music Live Shows</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">🇬🇧 English Nights</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">📝 Study Hours</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">🎮 Console Tournaments</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">🍻 Community Nights</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">📽️ Movie Nights</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">🗣️ Topic Talks</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">🎲 Game Nights</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">💻 Coworking</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">🎚️ DJ Nights</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">📖 Costudying Space</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">👩‍⚕️ Counseling</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">👨‍🏫 Seminars</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">🎨 Art Shows</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">💪🏻 Leadership Seminars</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">📚 Book Clubs</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">👗 Boutique</p></div>
      <div class="slide"><p class="text-2xl text-center text-white whitespace-nowrap">🏋️ Training Programs</p></div>
    </div>
  </div>
</main>