<div class="py-24 sm:py-32">
    <div class="px-6 mx-auto">
      <div class="relative mx-auto text-center group">
        <h2 id="someEventsTitle" class="text-3xl tracking-tight text-white font-dela sm:text-4xl" x-text="switcher.events_title[switcher.languages[switcher.selected].lang]"></h2>
        <span class="absolute text-2xl top-0 transition-all !duration-500 opacity-0 left-1/2 group-hover:translate-x-20 group-hover:opacity-100 group-hover:-translate-y-6 group-hover:scale-125 group-hover:rotate-12">🎉</span>
        <span class="absolute text-2xl top-0  opacity-0 right-1/2 transition-all !duration-500 delay-100 group-hover:-translate-x-24 group-hover:opacity-100 group-hover:translate-y-4 group-hover:scale-125 group-hover:-rotate-[30deg]">🤪</span>
      </div>
      <div id="eventContainer" class="grid h-[60vh] grid-cols-1 gap-8 mx-auto mt-16 carousel auto-rows-fr sm:mt-20 lg:mx-0  lg:grid-cols-5"></div>
      <div class="flex items-center justify-center py-10">
          <a href="events.html" class="rounded-xl transition-colors !duration-500 bg-flame px-3.5 py-2.5 text-sm font-semibold text-black hover:bg-flame-hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-flame-hover">Discover all our events</a>
      </div>
    </div>
  </div>
  