<div class="py-24 sm:py-32">
    <div class="px-6 mx-auto">
      <div class="relative mx-auto text-center group">
        <h2 id="someEventsTitle" class="text-3xl tracking-tight text-white font-dela sm:text-4xl" x-text="switcher.events_title[switcher.languages[switcher.selected].lang]"></h2>
        <span class="absolute text-2xl top-0 transition-all !duration-500 opacity-0 left-1/2 group-hover:translate-x-20 group-hover:opacity-100 group-hover:-translate-y-6 group-hover:scale-125 group-hover:rotate-12">🎉</span>
        <span class="absolute text-2xl top-0  opacity-0 right-1/2 transition-all !duration-500 delay-100 group-hover:-translate-x-24 group-hover:opacity-100 group-hover:translate-y-4 group-hover:scale-125 group-hover:-rotate-[30deg]">🤪</span>
      </div>
      <h3 x-text="switcher.events_previous_events[switcher.languages[switcher.selected].lang]" class="mx-auto mt-8 text-2xl tracking-tight text-center text-white font-dela"></h3>
      <div class="grid h-[60vh] grid-cols-1 gap-8 mx-auto mt-16 carousel auto-rows-fr sm:mt-20 lg:mx-0  lg:grid-cols-5">
        <template x-for="event in previousEvents.slice(-6)">
          <div class="relative flex flex-col justify-end overflow-hidden bg-gray-900 aspect-1/2 carousel-item isolate rounded-xl group">
            <div class="w-full h-auto">
              <img :src="event.image" alt="" class="inset-0 object-cover w-full aspect-1/2">
            </div>
            <div class="absolute bottom-2 lg:bottom-4 z-20 flex flex-col items-center gap-5 w-full p-3 opacity-100 text-center group-hover:-translate-y-8 group-hover:opacity-0 transition-all !duration-1000">
                <h3 x-text="event.title" class="text-3xl leading-7 text-white font-dela "></h3>
                <hr class="w-[72px] border-b-[3px] border-flame">
                <p x-text="event.date" class="text-xl text-white"></p>
            </div>
            <div class="absolute w-full h-full opacity-25 group-hover:opacity-75 bg-black transition-opacity !duration-1000"></div>
            <div class="absolute w-full h-full z-10 -top-8 flex flex-col p-3 text-white justify-start gap-8 lg:justify-around opacity-0 group-hover:opacity-100 group-hover:top-0 transition-all delay-[350ms] !duration-1000">
                <time x-text="'🕔 ' + event.time" class="text-sm font-semibold text-center sm:text-base"></time>
                <p x-text="'📍 ' + event.location" class="text-sm font-semibold text-center sm:text-base"></p>
                <p x-text="'⚡️ ' + event.description" class="text-sm font-semibold text-center sm:text-base"></p>
            </div>
          </div>
        </template>
      </div>
      <h3 x-text="switcher.events_upcoming_events[switcher.languages[switcher.selected].lang]" class="mx-auto mt-16 text-2xl tracking-tight text-center text-white font-dela"></h3>
      <div class="grid h-[60vh] grid-cols-1 gap-8 mx-auto mt-16 carousel auto-rows-fr sm:mt-20 lg:mx-0  lg:grid-cols-5">
        <template x-for="event in upcomingEvents.slice(-6)">
          <div class="relative flex flex-col justify-end overflow-hidden bg-gray-900 aspect-1/2 carousel-item isolate rounded-xl group">
            <div class="w-full h-auto">
              <img :src="event.image" alt="" class="inset-0 object-cover w-full aspect-1/2">
            </div>
            <div class="absolute bottom-2 lg:bottom-4 z-20 flex flex-col items-center gap-5 w-full p-3 opacity-100 text-center group-hover:-translate-y-8 group-hover:opacity-0 transition-all !duration-1000">
                <h3 x-text="event.title" class="text-3xl leading-7 text-white font-dela "></h3>
                <hr class="w-[72px] border-b-[3px] border-flame">
                <p x-text="event.date" class="text-xl text-white"></p>
            </div>
            <div class="absolute w-full h-full opacity-25 group-hover:opacity-75 bg-black transition-opacity !duration-1000"></div>
            <div class="absolute w-full h-full z-10 -top-8 flex flex-col p-3 text-white justify-start gap-8 lg:justify-around opacity-0 group-hover:opacity-100 group-hover:top-0 transition-all delay-[350ms] !duration-1000">
                <time x-text="'🕔 ' + event.time" class="text-sm font-semibold text-center sm:text-base"></time>
                <p x-text="'📍 ' + event.location" class="text-sm font-semibold text-center sm:text-base"></p>
                <p x-text="'⚡️ ' + event.description" class="text-sm font-semibold text-center sm:text-base"></p>
            </div>
          </div>
        </template>
      </div>
      <div class="flex items-center justify-center py-10">
          <a href="events.html" class="rounded-xl transition-colors !duration-500 bg-flame px-3.5 py-2.5 text-sm font-semibold text-black hover:bg-flame-hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-flame-hover" x-text="switcher.discover_button[switcher.languages[switcher.selected].lang]"></a>
      </div>
    </div>
  </div>